<div class="container">
  <div class="col-xs-12 col-sm-4"></div>
  <div class="col-xs-12 col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center">Nuevo Comentario</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" action="/quizes/<%= quizid %>/comments" method="post">
          <input type="text" id="comment" name="comment[texto]" value="" placeholder="Tu Comentario" class="form-control">
          <br>
          <button type="submit" class="btn btn-block btn-success">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4"></div>
</div>
