<div class="panel panel-default">
  <div class="panel-heading">
    <h1>Créditos:</h1>
  </div>
  <div class="panel-body text-center">
    <h4>Escrito por: <strong>Joel Tinx</strong></h4>
    <img src="/images/imagen.png" class="img-responsive img-thumbnail">
    <p>Sigueme en twitter: <a href="https://twitter.com/Joel_Tinx" target="_blank">Joel_Tinx</a></p>
    <h4>Curso MOOC: MiríadaX</h4>
  </div>
</div>
