<form method="post" action="/quizes/<%= quiz.id %>?_method=put">
  <div class="form-group">
    <label for="tema">Tema</label>
    <select class="form-control" name="quiz[tema]" value="<%= quiz.tema %>">
      <option value="otro">Otro</option>
      <option value="humanidades">Humanidades</option>
      <option value="ocio">Ocio</option>
      <option value="ciencia">Ciencia</option>
      <option value="tecnologia">Tecnología</option>
    </select>
  </div>
  <div class="form-group">
    <label for="pregunta">Pregunta</label>
    <input type="text" class="form-control" name="quiz[pregunta]" value="<%= quiz.pregunta %>" placeholder="Pregunta">
  </div>
  <div class="form-group">
    <label for="respuesta">Respuesta</label>
    <input type="text" class="form-control" name="quiz[respuesta]" value="<%= quiz.respuesta %>" placeholder="Respuesta">
  </div>
  <div class="form-group">
    <input type="submit" value="Guardar" class="btn btn-success">
    <a href="/quizes" class="btn btn-danger">Cancelar</a>
  </div>
</form>
