<form class="form-horizontal" method="get" action="/quizes">
  <input type="text" name="search" placeholder="¿Que buscas?" class="form-control" required="true">
  <input type="submit" value="Buscar" class="btn btn-info">
</form>
