<form class="form-horizontal" method="get" action="/quizes/<%= quiz.id %>/answer">
  Pregunta: <%= quiz.pregunta %> <p>
  <input class="form-control" type="text" name="respuesta" placeholder="Respuesta">
  <input class="btn btn-info" type="submit" value="Enviar">
</form>
